nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 1rem;
    background-color: var(--secondary-color);
}

nav ul li{
    display: inline;
    padding: 2rem;
}

nav ul li:hover{
    text-decoration: 2px underline;
    color: var(--primary-color);

}

nav ul li a{
    color: #fff;
}

.logo{
    color: var(--primary-color);
    cursor: pointer;
}

.primary-btn{
    background-color: var(--primary-color);
    color: #fff;
    padding: 0.5rem 2rem;
    border-radius: 2rem;
    border: none;
    cursor: pointer;
}